.List_choice {
  /* height: 100px; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.List_choice_Item{
  height: 30px;
  padding: 2px 5px;
  font-size: 1rem;
  word-wrap: normal;
  white-space: nowrap;
}